log4j.rootLogger=DEBUG,Xstream

# set the appender named X to b a xonsole appender

log4j.appender.Xstream=org.apache.log4j.ConsoleAppender

# set layout
log4j.appender.Xstream=tk.streams.log4j.StreamsAppender
log4j.appender.Xstream.layout=org.apache.log4j.PatternLayout
log4j.appender.Xstream.layout.conversionPattern=>>>>>>>>>>>%m%n

